@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir.ttc);
}

@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir-Book.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir-Heavy.ttf);
  font-weight: 700;
}

body {
  margin: 0 8px;
  font-family: Avenir, sans-serif;
  color: rgba(61, 78, 97, 1);
  font-weight: 300;
}

.searchbar {
  margin-top: 20px;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.searchbar__input {
  width: 100%;
  box-sizing: border-box;

  background-image: url(./images/Search.svg);
  background-repeat: no-repeat;

  font-family: inherit;
  color: inherit;
  letter-spacing: 0;
  line-height: 100%;
  font-weight: 400;

  border: 1px solid rgba(225, 231, 237, 1);
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);
  outline: none;
}

.searchbar__input--big {
  height: 70px;
  padding-left: 62px;

  background-size: 19px 19px;
  background-position: 26px center;

  font-size: 16px;
}

.searchbar__input--small {
  height: 42px;
  padding-left: 33px;

  background-size: 11px 11px;
  background-position: 13px center;

  font-size: 14px;
}

.searchbar__input--big:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25);
}

.searchbar__input--big:focus-within {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-weight: 700;
}

.searchbar__input--small:focus-within {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-weight: 700;
}

.searchbar__input--small:hover {
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
}

.searchbar__input::placeholder {
  font-family: Avenir, sans-serif;
  color: rgba(61, 78, 97, 1);
  font-weight: 400;
  letter-spacing: 0;
  opacity: 1;
}

/* add styles here */
